<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Personal Information
    </ion-list-header>

    <ion-item (click)="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            Name
          </ion-col>
          <ion-col col-8 *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
          </ion-col>
          <ion-col col-8 class="placeholder-profile" *ngIf="!userProfile?.firstName">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updatePhone()">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            Phone#
          </ion-col>
          <ion-col col-8 *ngIf="userProfile?.workPhone || userProfile?.cellPhone" class="placeholder-profile">
            {{userProfile?.workPhone}} {{userProfile?.cellPhone}}
          </ion-col>
          <ion-col col-8 class="placeholder-profile" *ngIf="!userProfile?.workPhone">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            Email
          </ion-col>
          <ion-col col-8 *ngIf="userProfile?.email" class="placeholder-profile">
            {{userProfile?.email}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            Password
          </ion-col>
          <ion-col col-8 class="placeholder-profile">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>